.offer-list {
  height: auto;
  width: 100wh;
  border: 1px solid rgb(214, 213, 213);
  margin-top: 10px;
  margin-bottom: 5px;
}
.offer-detail {
  height: 100px;
  width: 100wh;
  /* border: 1px solid rgb(185, 184, 184); */
  display: flex;
  background-color: #fffbc7;
}
.OfferListItem {
  height: 190px;
  width: 100wh;
  /* border: 1px solid rgb(189, 184, 184); */
  display: flex;
}
.offerDetail-img {
  height: 120px;
  width: 150px;
}
.offer-detail-heading {
  margin-top: 2px;
}
.offer-detail-heading1 {
  margin-top: -15px;
}
.offer-detail-para {
  margin-top: -20px;
}
/* .offer-icon{
    
     height: 200px;
     width: 100px;
     border: 1px solid gray;
      */

/* } */
.offer-icon-img {
  height: 100px;
  width: 100px;
  margin-left: 5px;
  margin-top: 15px;
}
.offer-icon-div {
  height: 190px;
  width: 500px;
  border: 1px solid rgb(240, 239, 239);
  /* margin: 10px; */
  background-color: white;
}
.offer-icon-div2 {
  display: flex;
}
.offer-icon-para {
  margin-left: 10px;
  /* margin-top: -5px; */
}

/* --------media Query-------------------- */

@media screen and (max-width: 725px) {
  .offer-list {
    height: auto;
    width: 100wh;
    /* margin-top: 100px; */
    border: 1px solid rgb(180, 175, 175);
    /* margin-top: 10px; */
    /* margin-bottom: 5px; */
  }
  .offer-detail {
    height: 120px;
    width: 100wh;
    border: 1px solid rgb(185, 184, 184);
    display: flex;
    background-color: white;
  }
  .OfferListItem {
    height: 250px;
    width: 80%;
    border: 1px solid rgb(189, 184, 184);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
  }
  .offerDetail-img {
    height: 100px;
    width: 100px;
    margin-right: 40px;
  }
  .offer-detail-heading {
    margin-top: -0px;
    font-size: 10px;
    margin-bottom: 20px;
    color: #79b857;
  }
  .offer-detail-heading1 {
    color: #6b6a6a;
    font-size: 15px;
    margin-bottom: -2px;
  }
  .offer-detail-para {
    color: #7fa6ce;
    font-size: 12px;
    font-family: Celias, Helvetica;
    margin-top: 5px;
  }
  /* .offer-icon{
         
          height: 200px;
          width: 100px;
          border: 1px solid gray;
           */

  /* } */
  .offer-icon-img {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .offer-icon-div {
    height: 120px;
    width: 90px;

    background-color: white;
    margin-right: -0px;
  }
  .offer-icon-div2 {
    display: flex;
  }

  .offer-icon-para {
    margin-left: 0px;
  }
  .offer-icon-para-p {
    margin-top: -1px;
  }

  .offer-icon-img {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-top: 15px;
  }
}
