.footer {
  height: 400px;
  width: 100wh;
  border: 0.5px rgb(187, 184, 184);
  /* margin-top: 10px; */
}

.f-grofer {
  height: 120px;
  width: 100wh;
  /* border: 1px solid gray; */
  background-color: rgb(238, 238, 238, 1);
}
.f-heading {
  margin-bottom: -14px;
}

.footer-flex {
  display: flex;
  height: 100px;
  width: 100vw;
  /* background-color: red; */
  margin-top: 20px;
}
.footer-fatag {
  display: flex;
}
.footer-fatag1 {
  height: 40px;
  width: 40px;
  margin-top: 30px;
  margin-left: 60px;
  /* border: 1px solid rgb(209, 206, 206); */
  margin-right: 10px;
  color: rgb(177, 174, 174);
}
.footer-fatag2 {
  /* height: 40px;
    width: 200px;
    background-color: hotpink; */
}
.footer-fatag-p {
  margin-top: 30px;
  margin-bottom: -10px;
}
.footer-fatag-p1 {
  font-size: 14px;
}
.footer-follow {
  height: 80px;
  width: 100vw;
  /* background-color: rgb(192, 111, 151); */
  text-align: center;
}
.footer-img {
  display: flex;
  text-align: center;
}
.footer-img1 {
  height: 30px;
  width: 40px;
  margin-left: 20px;
  /* margin-top: -30px; */
}
.footer-img1:hover {
  background-color: rgb(216, 210, 210);
}

/* =======================================Media================================================
  */

@media screen and (max-width: 425px) {
  .footer {
    height: 600px;
    width: 100wh;
    border: 0.5px rgb(187, 184, 184);
    /* margin-top: 10px; */
  }

  .f-grofer {
    height: 220px;
    width: 100wh;
    /* border: 1px solid gray; */
    background-color: rgb(238, 238, 238, 1);
  }
  .f-heading {
    margin-bottom: -14px;
  }

  .footer-flex {
    display: flex;
    /* margin-top: 50px; */
    height: 250px;
    width: 370px;
    /* background-color: red; */
    /* margin-top: 20px; */
  }
  .footer-fatag {
    display: flex;
    margin-left: -60px;
  }
  .footer-fatag1 {
    height: 40px;
    width: 40px;
    /* margin-top: 30px; */
    /* margin-left: 60px; */
    /* border: 1px solid rgb(209, 206, 206); */
    margin-right: 10px;
    color: rgb(177, 174, 174);
  }
  .footer-fatag2 {
    /* height: 40px;
      width: 200px;
      background-color: hotpink; */
  }
  .footer-fatag-p {
    /* margin-top: 30px; */
    margin-bottom: -10px;
  }
  .footer-fatag-p1 {
    font-size: 14px;
  }
  .footer-follow {
    height: 80px;
    width: 100vw;
    /* background-color: rgb(192, 111, 151); */
    text-align: center;
    margin-top: -80px;
  }
  .footer-img {
    display: flex;
    text-align: center;
  }
  .footer-img1 {
    height: 30px;
    width: 40px;
    margin-left: 20px;
    /* margin-top: -30px; */
  }
  .footer-img1:hover {
    background-color: rgb(216, 210, 210);
  }
}
